#
# edit and copy to /etc/systemd/system/redis2websocket.service
#
[Unit]
Description=Redis2Websocket server
After=redis.service

[Service]
DynamicUser=yes
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/redis2websocket.py
EnvironmentFile=/etc/default/redis2websocket

[Install]
WantedBy=multi-user.target
